.main-content {

    display: grid;
    grid-template-areas:
        'headerContainer'
        'aboutContainer'
        'portfoliosContainer'
        'contactContainer'
        'theme'
    ;
    width: 100vw;
    height: 100vh;

}

.sec1,
.sec2,
.sec3,
.sec4,
.sec5 {

    display: none;

}

.active {

    display: block;
    animation: scaleAnim 1s ease-in-out;

    @keyframes scaleAnim {
        0% {
            transform: translateY(-100%) scale(0);
        }

        100% {
            transform: translateY(0) scale(1);
        }
    }
}

.header-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0% 85% 15%;
    grid-template-areas:
        'invisible headerContent controlls';

    .main-photo {
        grid-area: invisible;

        img {
            width: 0%;
            height: 0%;
        }
    }

    .header-content {
        grid-area: headerContent;
    }

    .controlls {
        grid-area: controlls;
    }

}


@media(min-width: 768px) {

    .header-container {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 20% 65% 15%;
        grid-template-areas:
            'invisible headerContent controlls';
        overflow-y: hidden;

        .header-content {
            grid-area: headerContent;
            background-image: none;
        }

        .main-photo {
            grid-area: invisible;
            @include flex();

            img {
                width: 100%;
                height: 30vh;
            }
        }

        .controlls {
            grid-area: controlls;
        }
    }
}

@media(min-width:1000px) {
    .header-container {

        .main-photo {

            img {

                height: 50vh;
                
            }
            
        }

    }

}

.about-container {

    .about-container .about-container_info .right-about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // margin-top: 2.5rem;
        // width: 100%;
    }

    .invisible {
        grid-area: invisible;

        img {
            width: 0%;
            height: 0%;
        }
    }


    .header-content {
        grid-area: headerContent;
    }

    .controlls {
        grid-area: controlls;
    }
}

@media(min-width:769px) {
    .about-container {
        .right-about {
            .about-item {
                width: 100%;
                height: 100%;
                padding: 10%;
            }

            .myown {
                grid-area: myown;
            }

            .course {
                grid-area: course;
            }

            .learn {
                grid-area: learn;
            }

            background-color: yellow;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: repeat(2, 300px);
            grid-template-areas: "myown myown course course"
            ".... learn learn ....";

        }
    }
}


.portfolios {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-top: 3rem;
}

@media(min-width:769px) {
    .portfolio-container {
        .portfolios {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(5px, 1fr) minmax(300px, 1fr));
        }


        .stars-break i:nth-child(2),
        .stars-break i:nth-child(3) {
            display: none;
        }
    }

}


// @media(min-width:768px) {
//     .invisible {
//         display: block;
//         grid-area: invisible;
//     }
//     .blankdiv {
//         display: block;
//         grid-area: blankdiv;
//     }

//     .header-container {
//         width: 100%;
//         height: 100vh;
//         display: grid;
//         grid-template-columns:0% 30% 60% 10% 0%;
//         grid-template-areas:
//         'blankdiv invisible headerContent controlls blankdiv'; 
//         overflow-y: hidden; 
//         .header-content {
//             grid-area: headerContent;
//             background-image: none;
//          }
//          .blankdiv  {
//             grid-area: blankdiv;
//          }
//          .invisible {
//             grid-area: invisible;
//          }
//     }


// }








// .header-container {
//     width: calc(100% - 10rem);
//     height: calc(100vh - 10rem);
//     @include flex();
//     background-color: var(--color-blue);
// }









@media(min-width: 1000px) {
    .invisible {
        justify-content: end;

    }
}


