$transition-main: all .4s ease-in-out;

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

$margin: 1rem;
$margin-right: calc(4rem + 4vh);
$margin-right-sm: calc(2rem + 2vh);
$box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
$br-sm-2: 14px;

header {
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: calc(100% - $margin-right);
    position: absolute;
    left: 0;
}
    
// .main-title{
//          top: 0;
//         text-align: center;
//         position: relative;
//         margin-right: calc(2rem + 3vh);
//          .main-title h2 {
//         position: relative;
//         text-transform: uppercase;
//         font-size: calc(2rem + 1vh);
//         font-size: 700;
//         z-index: 2;
//         span{
//             color: var(--color-secondary);
//             z-index: 2;
//             font-size: calc(2rem + 1vh);
//             position: relative;
//             .bg-text{
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 color: var(--color-grey5);
//                 transition: all 0.4s ease-in-out;
//                 z-index: 1;
//                 font-weight: 800;
//                 font-size: calc(1rem + 1vh);
//                 text-transform: uppercase;
//                 text-shadow: var(--color-secondary) 1px 0 10px;
//             }
//         }
//     }
//     }

   
   


.section {
    background-color: var(--color-primary);
}

.sec1,
.sec2,
.sec3,
.sec4,
.sec5 {
    display: none;
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;

    @keyframes scaleAnim {
        0% {
            transform: translateY(-100%) scale(0);
        }

        100% {
            transform: translateY(0) scale(1);
        }
    }
}

//Controls
.controlls {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5%;
    @include flex();
    flex-direction: column;

    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: $transition-main;

        i {
            color: var(--color-white) !important;
        }
    }

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey4);
        width: calc(5vh + 5px);
        height: calc(5vh + 5px);
        border-radius: 50%;
        @include flex();
        margin: .7rem 0;
        box-shadow: $box-shadow-1;

        i {
            font-size: 1.2rem;
            color: var(--color-grey2);
            pointer-events: none;
        }
    }
}

/*Header-content*/
header{
    width: calc(100% - $margin-right);
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    overflow: visible;
    

    .left-header {
        @include flex();
        position: relative;
       

        .h-shape {
            transition: $transition-main;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }

        .image {
            border-radius: $br-sm-2;
            height: 90%;
            width: 78%;
            margin-left: 4rem;
            z-index: 2;
            @include flex();
            transition: $transition-main;

            img {
                width: 70%;
                height: 70%;
                object-fit: cover;
                transition: $transition-main;
            }
        }
    }


    .right-header {
        @include flex();
        flex-direction: column;

        .name {
            @include flex();
            font-size: 3rem;

            span {
                color: var(--color-secondary);
                display: block;
                margin: 12px;
            }
        }

        .portfolio-link {
            text-decoration: underline;
        }

        p {
            margin: 1.5rem 0;
            line-height: 2rem;
            @include flex();
        }

        h2 {
            text-align: center;
        }
    }
}

/*About*/
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    

    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        

        .about-item {
            border: 1px solid var(--color-grey5);
            border-radius: 5px;
            transition: $transition-main;
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
            
            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid var(--color-secondary);
                box-shadow: 1px 4px 15px rgba(0, 0, 0, .32)
            }

            .abt-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
               

                .large-text {
                    font-size: calc(2rem + 1vh);
                    font-weight: 700;
                    color: var(--color-secondary);
                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: calc(1rem + 1vh);
                    color: var(--color-black);
                    letter-spacing: 2px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-grey5);
                    }
                }

            }
        }
    }

    .left-about {
        margin-left: 1rem;
        margin-bottom: 2rem;

        p {
            line-height: 2rem;
            padding: 3rem;
            color: var(--color-grey1);
        }

        h4 {
            font-size: calc(1.5rem + 1vh);
            text-transform: uppercase;
        }

        .btn-con{
            margin-left: 1rem;
        }
    }
}

.about-stats {
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1rem;

    .about-stats-con {
        display: grid;
        grid-template-rows: repeat(5, 60px);
        align-self: flex-start;
        width: 90%;
        //width: calc(100%-$margin);
        //margin: 1rem;
        .progress-bars {
            //display: flex;
            //justify-content: flex-start;
            //flex-direction: column;
           
            margin: 1rem;

            .progress-title {
                // text-transform: uppercase;
                // writing-mode: vertical-rl;
                // text-orientation: sideways;
                // text-transform: translateY(180deg);
                font-weight: 500;
            }

            .progress {

                height: 1rem;
                background-color: var(--color-grey4);

                margin-bottom: 1rem;
                position: relative;
                border: 2px solid black;
            }

            .progress.html {
                display: flex;
                width: 20%;
                height: 10px;
            }

            .progress.css {
                display: flex;
                width: 40%;
                height: 10px;
            }
            .progress.scss {
                display: flex;
                width: 40%;
                height: 10px;
            }

            .progress.javascript {
                display: flex;
                width: 60%;
                height: 10px;
            }
            .progress.api {
                display: flex;
                width: 70%;
                height: 10px;
            }

        }








        // .progress-bars {


        // div {
        //     margin-bottom: 1rem;
        // }














        .progress-con {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border: 2px solid red;

            .progress-text {
                color: var(--color-grey2);
            }

            .progress {
                width: calc(100% - 1rem);
                height: .45rem;
                background-color: var(--color-grey4);
                margin-left: 1rem;
                margin-bottom: 1rem;
                position: relative;
            }
        }
    }
}

.stat-title {
    text-transform: uppercase;
    font-size: calc(2rem + 1vh);
    text-align: center;
    padding: 1rem 0;

    &::before {
        content: '';
        left: 50%;
        top: 0;
        width: 40%;
        height: 10px;
        background-color: --color-grey5;
        transform: translateX((-50%));
    }
}

/*Timeline*/
.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    margin: 1rem;

    .timeline-item {
        position: relative;
        padding-left: 5rem;
        border-left: 1px solid var(--color-grey5);

        .tl-icon {
            position: absolute;
            left: 5px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @include flex();

            i {
                font-size: 1.3rem;
            }
        }

        .tl-duration {
            padding: .6rem .8rem;
            background-color: var(--color-grey5);
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }

        h5 {
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;

            span {
                color: --color-grey2;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }

        p {
            color: var(--color-grey2);

        }
    }
}

/*Portfolios*/
.port-text {
    padding: 2rem 0;
    text-align: center;
}

.portfolio h2 {
    text-align: center;
    font-size: calc(1rem + 1vh);
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;

    .portfolio-item {
        position: relative;
        background-color: white;

        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            img {

                @include flex();

                object-fit: contain;
                border-radius: 15px;
            }
        }



        .hover-items {
            width: 100%;
            height: 100%;
            background-color: --color-secondary;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            @include flex();
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: $transition-main;

            h3 {
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }

            .icons {
                @include flex();

                .icon {
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    @include flex();
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: $transition-main;

                    i {
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }

                    &:hover {
                        background-color: var(--color-white);

                        i {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}



/*contact section*/
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;

    .left-contact {
       
        flex: 2;

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }

        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            padding: 2rem;
           
            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }

                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;

                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }

            .contact-icon {
                display: flex;
                margin-top: 2rem;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--color-white);
                    background-color: var(--color-grey5);
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 0 .4rem;
                    transition: $transition-main;

                    &:hover {
                        background-color: var(--color-secondary);

                        i {
                            color: var(--color-primary);
                        }
                    }

                    i {
                        @include flex();
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        form{
          
           .input-control {
            margin: 1.5rem 0;
            

            input,
            textarea {
                border-radius: 30px;
             
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey5);
                width: 100%;
                
                resize: none;
                  
            } 
             ::placeholder{
                        color: var(--color-grey4)
                    }
            
        }

        .i-c-2 {
            display: flex;

            :last-child {
                margin-left: 1.5rem;
            }
        }

        .submit-btn {
            display: flex;
            justify-content: flex-start;
        }
  
        }
       
    }
}

/*Indenpended components*/


.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
   
     display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text {
        padding: 0 2rem;

        &:hover {
            visibility: hidden;
            z-index: -100;
        }
    }
    .btn-icon {
        background-color: var(--color-secondary);
        @include flex();
        border-radius: 50%;
        padding: 1rem;

        &:hover {
            visibility: hidden;
            z-index: -100;
        }
    }

}
.main-btn.send{
    background-color: var(--color-grey5);
    margin-left: 45%;
    color: var(--color-grey4);
    padding: 1.5rem;
    width: 10%;
    font-size: larger;
    @include flex();
        &:hover{
           transform: scale(110%);
        }

 }

    

    

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     transform: translateX(-100%);
    //     transition: $transition-main;
    //     z-index: -1;
    // }

    // &:hover {
    //     &::before {
    //         content: 'Click to Load... my CV';
    //         z-index: 100;
    //         @include flex();
    //         width: 100%;
    //         height: 100%;
    //         background-color: var(--color-secondary);
    //         transform: translateX(0);
    //         transition: $transition-main;
    //     }
    // }


.portfolio {
    text-align: center;
    position: relative;
    
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: calc(2rem + 1vh);
        font-size: 700;
        z-index: 2;
        margin-top: 1rem;

        span {
            color: var(--color-secondary);
            z-index: 2;
            font-size: calc(2rem + 1vh);
            position: relative;
        }

    }

    .bg-text {
        position: absolute;
        top: 50%;
        left: 50%;

        color: var(--color-grey5);
        transition: $transition-main;
        z-index: 1;
        //transform: translate(-30%, -5%);
        font-weight: 800;
        font-size: calc(1rem + 1vh);
        text-transform: uppercase;
        text-shadow: var(--color-secondary) 1px 0 10px;
    }
}

.main-title {
    text-align: center;
    position: relative;
    margin-right: calc(2rem + 3vh);

    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: calc(2rem + 1vh);
        font-size: 700;
        z-index: 2;

        span {
            color: var(--color-secondary);
            z-index: 2;
            font-size: calc(2rem + 1vh);
            position: relative;
        }

    }

    .bg-text {
        position: absolute;
        top: 50%;
        left: 50%;

        color: var(--color-grey5);
        transition: $transition-main;
        z-index: 1;
        //transform: translate(-30%, -5%);
        font-weight: 800;
        font-size: calc(1rem + 1vh);
        text-transform: uppercase;
        text-shadow: var(--color-secondary) 1px 0 10px;
    }
}



/* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 30px;
}

.theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
}

.toggle-text {
    position: relative;
    top: -4px;
    right: 5px;
    color: var(--on-background);
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {

    background: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked+.slider {
    background: var(--primary-color);
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

.fas {
    font-size: 30px;
    margin-right: 5px;
}

@import './global';
@import './media'